*.o
*.a
*.log
*.trs
*.swp

.deps/
Makefile
Makefile.in

/COPYING
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/test-driver

/source/test

/validation/outsider
/validation/validation.sh
